[Desktop Entry]
Name=Toggle Decorations
Comment=Toggle window decorations
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Gabriel Andreescu
X-KDE-PluginInfo-Email=gabriel.andreescu@totumdev.com
X-KDE-PluginInfo-Name=toggle_decorations
X-KDE-PluginInfo-Version=0.0.6

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-ServiceTypes=KWin/Script
Type=Service
